body {
    overflow-x:hidden;
  background-color:#26A9F2;
  color:#fff;

}

/*::-webkit-scrollbar { 
    display: none; 
}*/

/*.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    background-color: #000000;
}*/


.playfair {
  font-family: 'Playfair Display', serif;
}

.galano {
  font-family:'Poppins';
}

p.galano {
  letter-spacing:2px;
}

.galano-alt {
  font-family:'Galano Alt';
}

.sentinelBook {
  font-family:'SentinelBook';
}

.sentinelMed {
  font-family:'SentinelMed';
}

.sentinelIt {
  font-family:'SentinelIt';
  text-transform:initial;
}

@font-face {
  font-family: 'Galano';
  src:url('fonts/galano-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galano Alt';
  src:url('fonts/galanoalt-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SentinelBook';
  src:url('fonts/Sentinel-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SentinelMed';
  src:url('fonts/Sentinel-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SentinelIt';
  src:url('fonts/Sentinel-MediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src:url('fonts/BebasNeue Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas-Bold';
  src:url('fonts/BebasNeue Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas-Book';
  src:url('fonts/BebasNeue Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaBold';
  src: url('fonts/Karla-Bold.woff') format('woff'),
     url('fonts/Karla-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaReg';
  src: url('fonts/Karla-Regular.woff') format('woff'),
     url('fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:focus{
    outline: none !important;
}  

/* h1, h2, h3, h4, h5, h6 {
    color: #f23f0f;
} */

.title-bar {
    background: #662C8C;
    color: #fefefe;
    padding: 0.5rem;
}

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #662C8C;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 21px;
    transition: all 0.23s ease-in-out 0s;
}


#about {
  background-image:url('../img/pattern.png');
  
}

.top-bar {
  background-color: #662C8C;;
  mix-blend-mode: multiply;
}

.top-bar ul {
    background-color: transparent;
}

.pad-top, .top-pad {
  padding-top:10%;
}

.pad-bot {
  padding-bottom:15%;
}

.pad-top-lite, .top-pad-lite {
  padding-top:5%;
}

.icons {
  color:#fff;
}

i.fa:hover {
    color: #eee;
    text-decoration: none;
}

a.sentinelIt {
    font-size: 2.8rem;
  color:#fff;
      line-height: normal;
  display:inline-block;
}

a.sentinelIt:hover {
  color:rgba(255,255,255,1);
  display: inline-block;
}

.slide:hover:after {
    width: 100%;
    background: #fff;
}

.slide:after {
    content: '';
  margin-bottom: 10px;
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

h2 {
  font-size:3.5rem;
}

h2.main {
  font-size:7rem;
}

.galano-sm {
  font-size:1.2rem;
  text-transform:uppercase;
}

p.sentinelIt {
    font-size: 2.5rem;
}

.hero {
  height:100vh;
}

.speakers {
  background-color:#EDCF54;
}

.schedule {
  background-color:#F36F47;
}

.date {
  border-bottom:3px solid #fff;
  display:inline-block;
}

.reveal-modal {
  padding:0px;
}

.modal-bottom{
      margin-bottom: 1.5rem;
}

.black {
  color:#000;
}


.button {
  background-color:#662C8C;
}
/* p, h2 {
  padding-top:50vh;
} */

/* h2:first-of-type{
  padding-top:25vh;
} */

/* p, h2:last-of-type{
  padding-bottom:40vh;
} */

.menu-text {
  background-image: url('img/title-dwt.svg');
}

.top-bar-left {
    width: 325px;
    margin-top: 6px;
    /* padding-top: 9%; */
    float: left;
    background-image: url('../img/title-dwt.svg');
    background-size: 100%;
    height: 50px;
    background-repeat: no-repeat;
}

.hero-title {
      width: 75%;
}

.menu li a {
  color:#fff;
  font-family:'Poppins';
}

p {
  font-size: 2rem;
  
}

a {
  color: #444;
  font-size: 1.4rem;
  letter-spacing: 2;
}

a :hover {
  text-decoration: line-through;
  color: #444;
}

.header {
  text-align:center;
  padding-top:200px;
}

.header p{
  padding-top:1%;
}

.KarlaReg.white-text p:hover {
    color: #fff;
}

body {
  background-color: #fff;
}

p.main-callout.Bebas-Bold.text-left.big-text a {
    font-size: 100%;
    text-align: center;
}

p.main-callout.Bebas-Bold.text-left.big-text a:hover {
    text-decoration: line-through;
    color:#F0CA3B;
}


.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}

.mod-img {
    width: 50%;
    left: 11%;
    z-index: -1000;
    top: 12%;
    position: absolute;
    height: auto;
}

.info-box {
  margin-top:-20px;
  background-color:#fff;
}

.opacity {
  opacity: 1;
}

.white-bg {
    background-color: white;
    padding: 2%;
}

.inline {
  display: inline;
}

.modal-t {
  padding-bottom: 30%;
}

.modal-it {
  padding-bottom: 14%
}

.vc-vid {
  padding-top: 6%;
}

.vc-bg {
  background-image: url("../img/vc_head.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}


.reveal {
    padding:0;
  border:0;
}

.video-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px; height: 0; overflow: hidden;
    
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.y-block {
    background-color: #f5c912;
    height: 500px;
    width: 50%;
    left: 32%;
    z-index: -1001;
    top: 68%;
    position: absolute;
    height: auto;
}

.r-block {
    background-color: #d91e27;
    height: 500px;
    width: 50%;
    left: 32%;
    z-index: -1001;
    top: 68%;
    position: absolute;
    height: auto;
}

.wb-block{
    background-image: url("../img/wb_logo.jpg");
    background-size: cover;
    background-color: transparent;
    height: 500px;
    width: 50%;
    left: 32%;
    z-index: -1001;
    top: 68%;
    position: absolute;
    height: auto;

}

.sh {
  background-image: url("../img/shelter3.jpg");
  height:400px;
}

 .sh2 {
    background-image: url("../img/shelter1.jpg");
    height:400px;
  }

.lp-block {
    background-image: url("../img/lp_logo.png");
    background-size: cover;
    background-color: transparent;
    height: 500px;
    width: 50%;
    left: 32%;
    z-index: 1001;
    top: 60%;
    position: absolute;
    height: auto;

}

.ill-block{
    background-size: cover;
    background-color: transparent;
    height: 500px;
    width: 50%;
    left: 32%;
    z-index: -1001;
    top: 68%;
    position: absolute;
    height: auto;
}

.ic {
  background-image: url("../img/ill/icecreamtruck.png");
}

.name {
  padding-bottom: 5%;

}

.large-8.medium-12.small-12.columns.ill_p {
    padding-top: 1%;
}

p.large-5.small-8.medium-6.columns.g.left.KarlaReg {
    float: left;
}

.left {
  float: left;
}

.right {
  float:right;
}

.halfWidth.left {
    box-sizing: border-box;
}

.halfWidth.right {
    box-sizing: border-box;
}


.Bebas {
    font-family:Bebas;
}

.Bebas-Bold {
    font-family:Bebas-Bold;
}

.Bebas-Book {
    font-family:Bebas-Book;
}

.KarlaReg {
    font-family:KarlaReg;
}

.white-text {
    color:#fff;
}

.fullWidth-h200 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    /* border: 2px solid #efefef; */
    box-sizing: border-box;
    stroke: #efefef;
    stroke-width: 2px;
    box-shadow: 0px 4px 0px 0px #efefef;
    margin-bottom: 4px;
}

.halfWidth {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height:100vh;
}

.fullWidth-h200:last-of-type {
    margin-bottom: 0px;
}

.tall {
    height:100vh;
}

.border-all {
    border: 4px solid #efefef;
    box-sizing: border-box;
}

.border-no-top {
     border-left: 4px solid #efefef;
    border-right: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
    box-sizing: border-box;
}

.border-no-right {
    border-left: 4px solid #efefef;
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
    box-sizing: border-box;
}

.border-no-left {
    border-right: 4px solid #efefef;
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
    box-sizing: border-box;
}

.border-no-sides {
   
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
    box-sizing: border-box;
}

.border-bottom {
    border-bottom: 4px solid #efefef;
    box-sizing: border-box;
}

.border-scrollbox {
    box-shadow: 0px 4px 0px 0px #efefef;
    margin-bottom: 4px;
    box-sizing: border-box;
}



ul.nav-list {
    list-style:none;
    width:100%;
    padding-top: 0%;
}

.nav-bar-bitch {
    padding-top: 1%;
    padding-bottom: 1%;
    background: #000;
    position:fixed;
    z-index:100;
}

li.nav-item {
    width: 121px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
        letter-spacing: .15rem;
    font-size: 1.3rem;
}

.products-block {
    padding-top: 5%;
     position:relative;
    z-index:0;
}

.button-holder {
    padding-top: 6%;
}

.buy-button {
    background: #000;
    letter-spacing: .25rem;
    font-size: 1.5rem;
    border:3px solid #000;
    color:#fff;
}

.buy-button:hover {
    background: transparent;
    color:#000;
    letter-spacing: .25rem;
    font-size: 1.5rem;
     border:3px solid #000;
}

.main-callout {
    text-align: left;
    letter-spacing: .5rem;
    font-size: 5.5rem;
    margin-bottom: 0%;
}

.tiny-callout {
    letter-spacing:.2rem;
    position:absolute;
    text-align:center;
    font-size:1.4rem;
    bottom:20px;
    width:100%;
}

.tiny-arrow svg {
    width: 32px;
}
.tiny-arrow {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

.waggle {
  animation: waggle .85s 3s forwards ease-out;
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-10deg) scale(1.02);
  }
  60% {
    transform: rotateZ(15deg) scale(1.02);
  }
  67.5% {
    transform: rotateZ(-10deg) scale(1.02);
  }
  75% {
    transform: rotateZ(10deg) scale(1.02);
  }
  82.5% {
    transform: rotateZ(-10deg) scale(1.02);
  }
  85% {
    transform: rotateZ(0) scale(1.02);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}


.intro-block {
    padding: 6% 5% 2% 10%;
    position: relative;
    overflow: hidden; 
}

/* .intro-block2 {
    margin: 27% 15%;
    position: relative;
  height:40vh;
} */

.detail {
    display:none;
    opacity:0;
    transition:all .5s ease;
}
.detail-switch {
    display:block;
    opacity:1;
    transition:all .5s ease;
}

.detail-switch:hover {
    display:none;
        opacity:0;
    transition:all .5s ease;
}

.detail-switch:hover ~.detail {
    display:block;
    opacity:1;
    transition:all .5s ease;
}

.product-row {
    margin-top: 8%;
    padding-left: 4%;
}

.product-row:last-of-type {
   margin-bottom:8%; 
}

.product-description {

padding-top:4%;
}

.product-image {
       transition: all .5s ease;
}

.product-image:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.product-image.no-zoom:hover {
    transform: scale(1);
    transition: all .5s ease;
}

.detail-trigger {
  
    height: 100%;
    width: 100%;
}

.detail-trigger:hover {
   background-image:url('../img/dieshirt_subtle.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
}


.p-title {
    font-family:Bebas-Bold;
    letter-spacing:.25rem;
}

.p-desc {
    font-family:KarlaReg;
    letter-spacing: .04rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 2%;
}

.p-price {
    font-family:Bebas-Bold;
    letter-spacing:.2rem;
}

.logo svg {
    fill: #ffffff;
    width: 70%;
}

.footer {
    background:#f23f0f;
}


.footer p {
    margin-bottom: 0%;
}
.footer {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.tagline p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.made-by p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.made-by a {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color:#222;
     transition:all .5s ease;
}

.made-by a:hover {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color:#fff;
    transition:all .5s ease;
}


/* LINE ILLUSTRATION */

h1.main-callout:hover ~ .line {
    background: #edb31e;
    transition:all .5s ease;
}

.line {
    position: absolute;
    width: 100px;
    height: 5px;
    background: #000;
    transition:all .5s ease;
}

.box {
    top: 39%;
    z-index: -3;
    left: 20%;
}
.bg-float {
    position: absolute;
    width: 27%;
    height: auto;
    background: #000;
    transition: all .5s ease;
}

.line1 {
    top: 44%;
    z-index: 15;
    transform: rotate(46deg);
    left: 7%;
}

.line3 {
    top: 94%;
    left: 9%;
    transform: rotate(18deg);
}

.line2 {
    top: 72%;
    left: 4%;
    transform: rotate(-50deg);
}

.line4 {
    top: 73%;
    left: 21%;
    transform: rotate(-18deg);
}

.line5 {
    top: 9%;
    left: 3%;
    transform: rotate(-219deg);
}

.line6 {
    top: 88%;
    left: 79%;
    transform: rotate(63deg);
}

.line8 {
    top: 60%;
    left: 87%;
    transform: rotate(-41deg);
}

.line7 {
    top: 26%;
    left: 52%;
    transform: rotate(-171deg);
}

.line9 {
    top: 27%;
    left: 83%;
     z-index: 15;
    transform: rotate(129deg);
}

/* END LINE ILLUSTRATION */




.no-pad {
  padding-left:0;
}


h2.main-callout:hover {
    text-decoration: line-through;
}

.blue {
  background-color:#8BB9EA;
}

.big-bg {
  height:600px;
}

.bottom-bg {
  height:300px;
}

.info-box {
  background-color:#fff;
  padding:20px;
  height:250px;
  margin-top:-200px;
  margin-bottom: 150px;
}

.border {
  border:solid 3px;
  border-color:#8BB9EA;
  padding:15px;
}

.info-pad {
  padding-top:10px;
}

.offset-box {
  height: 400px;
    margin-top: -80px;
  background-repeat:no-repeat;
/*     background-color: #92cbee; */
  margin-bottom: 50px;
}

.ill {
  height:600px;
  margin-bottom:2%;
}

p.columns.small-4.Bebas {
    margin-bottom: -2px;
  font-size: 1.1rem;
    letter-spacing: 2px;
}

p.columns.small-12.Bebas {
    margin-bottom: -2px;
  font-size: 1.1rem;
    letter-spacing: 2px;
}



.vc-color {
  border-color:#D6AE71;
}

.yellow {
  background-color: #f5c912;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/at_head.png');
}

.em-bg {
  background-color: #8bbaea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/em_head.jpg');
}


.at-color {
  border-color:#f5c912;
}

.back-btn {
  position:absolute;
  top:0;
    opacity: .4;
  margin:2%;
}

.back-btn img {
  height:35px;
}

.green {
  border-color:#73AA39;
}

.shelter-bg {
  background-image:url('../img/shelter4.jpg');  
  background-color: #f5c912;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.shel-color {
  border-color:#778CA0;
}

.shel-bg {
  background-color:#8DA2AF;
}

.lp-head {
  background-image:url('../img/grass.jpg'); 
  background-color: #f5c912;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uo-head {
  background-image:url('../img/uo_head.jpg'); 
  background-color: #f5c912;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wb-head {
    background-image: url('../img/wb_head.jpg');
    background-color: #4AB19C;
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
}

.hat-head {
    background-image:url('../img/hat_proto.png');   
    background-color: #f5c912;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hat-bottom {
    background-image: url('../img/xray.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #010101;
}

.alt-bg {
    background-image: url('../img/alt_brand.jpg');
    background-color: #57AA5A;
    background-position: center;
    background-repeat:no-repeat;
    background-size: 50%;
}

.alt-color {
  border-color:#57AA5A;
}

.uo-color {
  border-color:#d91e27;
}

.red {
  background-color:#d91e27;
}

.gf-head {
  background-image:url('../img/gf-head.jpg'); 
  background-color: #444;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wb_color {
  border-color:#F0CA3B;
}

.columns.large-8.large-offset-2.medium-10.medium-offset-1.small-10.small-offset-1.blue.ill {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}


.iss {
    background-image: url('../img/iss.png');
    background-color: #031D2D;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;;
}

.space-color {
  border-color:#031D2D;
}


.columns.large-10.large-offset-1.medium-10.medium-offset-1.small-12.small-offset-0.ill {
  background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
}

.columns.large-8.large-offset-2.medium-10.medium-offset-1.small-10.small-offset-1.ill {
    height: 400px;
}

.tt-bg {
    background-image: url('../img/tt/top.png');
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #E83A3A;
}

.tt-color {
  border-color: #E83A3A;
}


p.Bebas-Bold.white-text.text-left a {
    color: #fff;
    cursor: pointer;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top:-78px;
    background-color: #444;
    color:#fff;
    /*min-width: 160px;*/
    border-radius:3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {
  display:block;
  
  }

div.dropdown-content.show p {
    padding: 5px 10px 3px 10px;
}  
/*       -moz-animation: cssAnimation 0s ease-in 1s forwards;
          Firefox
          -webkit-animation: cssAnimation 0s ease-in 1s forwards;
          Safari and Chrome
          -o-animation: cssAnimation 0s ease-in 1s forwards;
          Opera
          animation: cssAnimation 0s ease-in 1s forwards;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      @keyframes cssAnimation {
          to {
        width:0;
        height:0;
        overflow:hidden;
          }
      }
      @-webkit-keyframes cssAnimation {
          to {
        width:0;
        height:0;
        visibility:hidden;
          }
      } */
      
.arrow-up {
    width: 0;
    height: 0;
    left: 30px;
    position: absolute;
    bottom: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #444;
}

span.copy {
    letter-spacing: .2em;
    font-size: 1.2em;
}

span.Bebas.white-text a {
    color: #fff;
}

/*.slide:hover:after {
    width: 50%;
    top: -65px;
    background: #444;
}

.slide:after {
    content: '';
    display: block;
    height: 10px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    top: -65px;
}*/


/******************************************** MEDIA QUERIE **************************************/



/* @media screen and (max-width: 1651px) {

}

@media screen and (max-width: 1100px) {

    
}



@media screen and (max-width: 1024px) {

       .products-block {
    padding-left: 5%;
    padding-right: 5%;
  } 
}

@media screen and (max-width: 925px) {  
    
    .grow {
    height: auto;
  }
    
    .tall {
    height: auto;
  }
  
    
     .fullWidth {
        height:auto;
    } 
    
    .products-block {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .wb-block {
    width:100%;
  }

  .sh {
    left:0%;
    top:48%;
  }

    .sh2 {
    left:0%;
    top:48%;
  }

  .lp-block {
    width:100%;
    left:-15%;
  }

}

@media screen and (max-width: 768px) {
  .offset-box {
  height: 250px;
    margin-top: 0px;
    background-color: transparent;
  margin-bottom: 50px;
  }
}

*/

@media screen and (max-width: 700px) {

h2.main {
    font-size: 4rem;
}
}



  
@media screen and (max-width: 440px) {

  h2.main {
    font-size: 4rem;
}  
} 